@media only screen and (max-width: 1280px) {
  .about__p {
    padding-right: 45px;
    padding-left: 45px;
    margin: 0 auto;
}
}
@media only screen and (max-width: 1000px) {
  .about__p {
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
    font-size: 18px;
}
.se{
  font-size: 22px;
}
}
@media only screen and (max-width: 700px) {
  .about__p {
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
    font-size: 16px;
}
.se{
  font-size: 18px;
}
}
@media only screen and (max-width: 420px) {
  .about__p {
    padding-right: 25px;
    padding-left: 25px;
    margin: 0 auto;
    font-size: 14px;
}
.se{
  font-size: 16px;
}
}
